<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index2.css" .css>
</head>

<body>
    <!--Top nav bar-->
    <section>
        <nav>
            <div class="topnav">
                <ul>
                    <li>
                        <a href="/index.html">Home</a>
                    </li>
                    <li>
                        <a href="#About Us">About Us</a>
                    </li>
                    <li>
                        <a href="#Movers">Movers</a>
                    </li>
                    <li>
                        <a href="#Contact Us">Contact Us</a>
                    </li>
                    <li>
                        <button class="btn1" id="btn1">Work with us <span id="arrow"> ⇝ </span></button>
                    </li>
                </ul>
            </div>
            <div class="nav-content">
                <div id="leftside">
                    <h1>Modern House</h1>
                    <p>3002 Foster Ave,Brooklyn, NY 11210,USA</p>
                </div>

                <div id="rightside">
                    <h1>$450,000</h1>
                    <p> $2,800/sq ft</p>
                </div>
            </div>

        </nav>
    </section>
</body>

</html>