<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quick Movers</title>
    <link rel="stylesheet" href="index2.css" .css>
</head>

<body>
    <!--Top nav bar-->
    <section>
        <nav>
            <div class="topnav">
                <ul>
                    <li>
                        <a href="/index.html">Home</a>
                    </li>
                    <li>
                        <a href="#About Us">About Us</a>
                    </li>
                    <li>
                        <a href="#Movers">Movers</a>
                    </li>
                    <li>
                        <a href="#Contact Us">Contact Us</a>
                    </li>
                    <li>
                        <button class="btn1" id="btn1">Work with us <span id="arrow"> ⇝ </span></button>
                    </li>
                </ul>
            </div>
            <div class="nav-content">
                <div id="leftside">
                    <h1>Modern House</h1>
                    <p>3002 Foster Ave,Brooklyn, NY 11210,USA</p>
                </div>

                <div id="rightside">
                    <h1>$450,000</h1>
                    <p> $2,800/sq ft</p>
                </div>
            </div>

        </nav>
    </section>

    <!--section 2 + images-->

    <section class="content1">

        <div class="part1">
            <div class="left-images">
                <div>
                    <img id="image1" src="/assets/images/Property House.png" alt="">
                </div>
                <div class="seven-images">
                    <img id="img2" src="/assets/images/Rectangle.png" alt="">
                    <img id="img3" src="/assets/images/Rectangle-1.png" alt="">
                    <img id="img4" src="/assets/images/Rectangle-2.png" alt="">
                    <img id="img5" src="/assets/images/Rectangle-3.png" alt="">
                    <img id="img6" src="/assets/images/Rectangle-4.png" alt=" ">
                    <img id="img7" src="/assets/images/Rectangle-5.png" alt="">
                    <img id="img8" src="/assets/images/Rectangle-6.png" alt="">
                </div>
            </div>
            <div class="right-images">
                <div id="profile">
                    <div id="left-profile"><img id="img9" src="/assets/images/kayley.jpeg" alt="image"></div>
                    <div id="right-profile">
                        <p id="kayley"> Kayley Hall <br> <span id="view-profile">View Profile</span> </p>
                    </div>
                </div>
                <div class="buttons">
                    <div><input type="Name" value="Name"></div>
                    <div><input type="Phone" value="Phone"></div>
                    <div><input type="Email" value="Email"></div>
                    <div> <input id="comment" type="Hello" value="Hello, I'm interested in..."></div>
                    <button class="btn2" id="btn2"> Learn More <span id="arrow2">⇝ </span> </button>
                </div>
            </div>
        </div>


        <!--paragraph contents-->
        <div>
            <div class="content2">
                <p id="details">Details </p>
            </div>
            <div class="partitions">
                <div>
                    <p id="partitions">4</p>
                </div>
                <div>
                    <p id="partitions">2</p>
                </div>
                <div>
                    <p id="partitions">2</p>
                </div>
                <div>
                    <p id="partitions">1 </p>
                </div>
                <div>
                    <p id="partitions">2007</p>
                </div>
            </div>
        </div>
        <div>
            <p>Description</p>
            <p> At vero eos iusto odio dignissimos ducimus </p>
        </div>
    </section>
</body>

</html>