body {
    font-family: 'Poppins,  Actor, Adamina';
    margin: 0px;
    background-color: white;
}

nav {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
}

.topnav ul {
    margin-left: 400px;
}

div ul li {
    display: inline;
    margin-inline: 20px;
}

div ul li a {
    text-decoration: none;
    color: white;
    font-weight: 900;
    font-size: medium;
}

button {
    padding-left: 10px;
    padding-right: 10px;
}

.btn1 {
    background-color: #FFAC12;
}

#btn1 {
    color: black;
}

.btn2 {
    background-color: black;
}

#btn2 {
    color: #FAFF00;
}

.sect-1 {
    background-image: url(/assets/images/moving\ 1.png);
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

#content1 {
    color: #FAFF00;
}

#content2 {
    color: white;
}