body {
    font-family: 'Poppins,  Actor, Adamina';
    margin: 0px;
    background-color: white;
}

nav {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
}

.topnav ul {
    margin-left: 300px;
    margin-top: 30px;
}

div ul li {
    display: inline;
    margin-inline: 20px;
}

div ul li a {
    text-decoration: none;
    color: white;
    font-weight: 900;
    font-size: large;
}

button {
    padding-left: 10px;
    padding-right: 10px;
}

.btn1 {
    background-color: #FFAC12;
}

#btn1 {
    color: black;
}

.btn2 {
    background-color: black;
    padding-left: 10px;
    padding-right: 10px;
}

#btn2 {
    color: #FAFF00;
}

.sect-1 {
    background-image: url(/assets/images/moving\ 1.png);
    background-size: contain;
    background-position: 95%;
    height: 100vh;
    margin: 10px;
}

#content1 {
    color: #FAFF00;
    margin-top: 40px;
    font-size: 48px;
}

#content2 {
    color: white;
    font-size: 34px;
}

.head {
    margin-left: 80px;
}

#part1 {
    margin-top: 120px;
    align-items: center center;
    margin-bottom: 0px;
    display: flex;
    margin-left: 0px;
}

.left {
    width: 50%;
    margin-right: 30px;
    margin-left: 0px;
}

.left #img2 {
    height: 350px;
    width: 450px;
    margin-right: 20px;
}

.right {
    width: 50%;
    margin-top: 80px;
    font-size: large;
}

.btn3 {
    color: #FAFF00;
    background-color: black;
    padding: 10px;
}

#btn3 {
    border-radius: 0px 7px 0px 0px;
}

.head2 {
    text-decoration-line: overline;
}

.section2 {
    background-color: rgb(245, 245, 245);
}

.part2 {
    margin-left: 60px;
    margin-right: 60px;
    align-items: center;
}

.wrapimages {
    display: flex;
    flex-wrap: wrap;
}

#img3 {
    height: 200px;
    width: 300px;
    margin: 10px;
}

#img4 {
    height: 200px;
    width: 300px;
    margin: 10px;
}

#img5 {
    height: 200px;
    width: 300px;
    margin: 10px;
}

#img6 {
    height: 200px;
    width: 300px;
    margin: 10px;
}

#img7 {
    height: 200px;
    width: 300px;
    margin: 10px;
}

#img8 {
    height: 200px;
    width: 300px;
    margin: 10px;
    background-color: #FAFF00;
}

.img7 {
    flex-grow: 2;
}